.header {
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(253, 253, 253);
}

.logo {
    position: relative;
    width: 70%;
    margin-top: -20px;
}
.navigation.navbar {
    float: right;
    padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0px 25px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}




.navbar-expand-md .navbar-nav {
    padding-right: 10px;
}


@media (min-width: 768px) and (max-width: 991px){
    .logo::after {
        height: 96px;
        left: -77px;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 12px;
        font-size: large;
    }
    .navigation.navbar {
        padding-top: 12px !important;
    }

}
@media (min-width: 576px) and (max-width: 767px){
    .logo::after {
        width: 78px;
        height: 115px;
    }
    .logo {
        padding-top: 15px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 12px;
    }
    .navigation .navbar-collapse {
        background: black;
        opacity: 61%;
        padding: 5px;
        margin-top: 44px;
        left: 25%;
        position: absolute;
        width: 86%;
        margin-right: 20px;
        height: 150px;
        z-index: 999;
        border-radius: 4;
        text-align: center;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: white;
        font-size: large;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 6px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
}
@media (max-width: 575px){
    .logo {
        text-align: center !important;
        padding-bottom: 0px;
        float: left;
        padding-left: 33%;
        /* margin-top: 0px; */
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0 !important;
        width: 100%;
        margin-top: -38px;
    }
    .navigation .navbar-collapse {
        background: black;
        opacity: 61%;
        padding: 5px;
        margin-top: 44px;
        left: 25%;
        position: absolute;
        width: 86%;
        margin-right: 20px;
        height: 180px;
        z-index: 999;
        border-radius: 4;
        text-align: center;
    }


    
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: white;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        margin-right: 2px;
        border: inherit;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
}
@media (min-width: 1200px) and (max-width: 1342px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0 19px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 8px;
    }
}

.navigation.navbar-dark .navbar-nav .active>.nav-link, .navigation.navbar-dark .navbar-nav .nav-link.active, .navigation.navbar-dark .navbar-nav .nav-link.show, .navigation.navbar-dark .navbar-nav .show>.nav-link {
    color: white;
}

